@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    background-color: rgb(36, 39, 38);
    font-family: 'Song Myung', serif;
    animation: fadein 2s;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.css-header{
    display: block;
    position: relative;
}

.css-title{
    margin-top: 15vh;
    font-size: 30px;
    text-align: center;
    color: white;
}

.css-border{
    /* 흰색 박스 */
    display: block;
    position: relative;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 4vh;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
}

.css-man{
    position: relative;
    width: 25vh;
    margin-top: 60px;
}

.css-start{
    position: relative;
    margin-top: -50px;
    padding: 16px 48px;
    font-size: large;
    background-color: white;
    color: black;
    border: 2px solid #3d3d3d;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Song Myung', serif;
}

.css-share{
    position: relative;
    margin-top: -5px;
    padding: 16px 48px;
    font-size: large;
    background-color: white;
    color: black;
    border: 2px solid #3d3d3d;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Song Myung', serif;
}

.css-start:hover, .css-share:hover{
    transition-duration: 0.4s;
    background-color: #3d3d3d;
    color: white;
}

.css-license{
    position: relative;
    text-align: center;
    opacity: 50%;
    font-size: 12px;
    top: 30px;
}